@font-face {
    font-family: 'RavenFont';
    src: url('./assets/fonts/cloister-black-font/CloisterBlackLight-axjg.ttf');
}

@font-face {
  font-family: 'Norse';
  src: url('./assets/fonts/Norse/Norse.otf');
}

.logo {
    color: white;
    font-family: 'RavenFont';
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.inner-container {
    width: 50%;
}